.type-ramp() {
  .caption() {
    font-size: 12px;
    line-height: 16px;
  }

  .body() {
    font-size: 14px;
    line-height: 20px;
  }

  .body-strong() {
    .type-ramp.body();

    font-weight: 600;
  }

  .body-large() {
    font-size: 18px;
    line-height: 24px;
  }

  .subtitle() {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }

  .title() {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
  }

  .title-large() {
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
  }

  .display() {
    font-size: 68px;
    line-height: 92px;
    font-weight: 600;
  }
}