@media @tablet-up {
  #header > .container {
    display: grid;
    grid-template: "0 a b c 9" / 0 1fr auto 1fr 0;
  }

  .App-navigation {
    &:extend(.Header-navigation);
  }
  .Header-navigation {
    display: none;
  }
  /*
  .Header-primary {
    flex: 1 1 0;
  }
  */
  .Header-title {
    &:extend(.Header-navigation);
  }
  .Header-secondary {
    &:extend(.Header-primary);

    & > .Header-controls {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
  }
  .Header-search {
    // min-width: 150px;
    // max-width: 750px;
    width: auto;
    // flex: 0.5 1 0;
  }
  .Search.focused {
    margin-left: 0;
  }
  .Search.focused input, .Search.focused .Search-results {
    width: auto;
  }
}
