@import "../../fluent/variables.less";
@import "../../fluent/components/acrylic.less";

.DiscussionList-discussions > li {
  animation: appear @ControlNormalAnimationDuration @ControlFastOutSlowInKeySpline 1 backwards;
  animation-delay: ~"calc(rem(calc(sibling-index() - 1), 20) * 100ms)";
}

@keyframes appear {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.FormControl {
  &::picker-icon {
    display: none;
  }

  &, &::picker(select) {
    appearance: base-select !important;
  }

  &::picker(select) {
    .shadow16();

    .fluent-acrylic(true);

    box-shadow: @low-elevation-ramp, @shadow-outline-normal;
    border-radius: @large-radius;
    border: none;

    &:popover-open {
      &:extend(.open .Dropdown-menu);
    }
  }

  & > option {
    margin: 4px;
    padding: 8px 15px;
    border-radius: @small-radius;

    &:hover {
      background-color: @menu-item-hover;
    }

    &:active {
      background-color: @menu-item-active;
    }
  }
}

.Dropdown-menu {
  .open & {
    animation-name: show, showshadow;
    animation-duration: @ControlNormalAnimationDuration;
    animation-timing-function: @ControlFastOutSlowInKeySpline;
    animation-fill-mode: backwards;
    animation-delay: 0ms, @ControlNormalAnimationDuration;

    &--top {
      animation-name: showfromtop, showshadow;
    }
  }
}

li.item-more ul > li {
  display: none;
}

li.item-more .Button-icon {
  margin-right: 0;
}

.Header-controls > li.hidden-item {
  display: none;
}

::view-transition-group(*), ::view-transition-new(*) {
  animation: none;
}

::view-transition-old(*) {
  display: none;
}

::view-transition-old(drill) {
    display: block;
    animation-name: -ua-view-transition-fade-out, -ua-mix-blend-mode-plus-lighter, scale-out;
    animation-timing-function: @ControlFastOutSlowInKeySpline;
    animation-duration: @ControlNormalAnimationDuration;
}

::view-transition-new(drill) {
    animation-name: -ua-view-transition-fade-in, -ua-mix-blend-mode-plus-lighter, scale-in;
    animation-timing-function: @ControlFastOutSlowInKeySpline;
    animation-duration: @ControlNormalAnimationDuration;
}

@keyframes scale-out {
    from {
        scale: 1;
    }

    to {
        scale: 1.05;
    }
}

@keyframes scale-in {
    from {
        scale: 0.95;
    }

    to {
        scale: 1;
    }
}

::view-transition-group(keyItem) {
    animation-name: -ua-view-transition-group-anim-keyItem, gravity;
    animation-duration: 0.3s;
    animation-composition: replace, add;
    animation-timing-function: ease-in-out;
}

::view-transition-old(keyItem), ::view-transition-new(keyItem) {
    height: 100%;
    animation-duration: 0.3s;
}

body.view {
    & #alerts {
      view-transition-name: alerts;
    }

    & .App-composer {
      view-transition-name: composer;
    }

    & aside.DiscussionPage-list {
      view-transition-name: discussionlist;
    }

    & #header {
      view-transition-name: header;
    }
  }

@keyframes gravity {
    0% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.35, 0, 0.55, 1);
    }

    33% {
        transform: translateY(80px);
        animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes show {
    from {
        clip-path: inset(100% 0 0 0);
        translate: 0 -100%;
    }

    to {
        clip-path: inset(0 0 0 0);
        translate: 0 0;
    }
}

@keyframes showfromtop {
    from {
        clip-path: inset(0 0 100% 0);
        translate: 0 100%;
    }

    to {
        clip-path: inset(0 0 0 0);
        translate: 0 0;
    }
}

@keyframes showshadow {
    from {
        box-shadow: none
    }
}