@import "../../fluent/variables.less";
@import "../../fluent/components/acrylic.less";

.DiscussionList-discussions > li {
  animation: appear @ControlNormalAnimationDuration @ControlFastOutSlowInKeySpline 1 backwards;
  animation-delay: ~"calc(rem(calc(sibling-index() - 1), 20) * 100ms)";
}

@keyframes appear {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.FormControl {
  &::picker-icon {
    display: none;
  }

  &, &::picker(select) {
    appearance: base-select !important;
  }

  &::picker(select) {
    .shadow16();

    .fluent-acrylic(true);

    box-shadow: @low-elevation-ramp, @shadow-outline-normal;
    border-radius: @large-radius;
    border: none;

    .Dropdown-menu.normal();

    &:popover-open {
      &:extend(.open .Dropdown-menu);
    }
  }

  & > option {
    margin: 4px;
    padding: 8px 15px;
    border-radius: @small-radius;

    &:hover {
      background-color: @menu-item-hover;
    }

    &:active {
      background-color: @menu-item-active;
    }
  }
}

.Dropdown-menu {
  .normal() {
    transition-property: height, box-shadow, overflow-y;
    transition-duration: @ControlNormalAnimationDuration;
    transition-timing-function: @ControlFastOutSlowInKeySpline;
    interpolate-size: allow-keywords;
    transition-behavior: allow-discrete;
  }

  .Dropdown-menu.normal();

  .open & {
    height: max-content;
    overflow-y: visible;
  }
}

@starting-style {
  .open .Dropdown-menu, .FormControl::picker(select):popover-open {
    height: 0;
    box-shadow: none;
    overflow-y: hidden;
  }
}

.SessionDropdown li.item-SessionUserCard {
  display: none;
}

::view-transition-group(keyItem) {
    animation-name: -ua-view-transition-group-anim-keyItem, gravity;
    animation-duration: 0.3s;
    animation-composition: replace, add;
    animation-timing-function: ease-in-out;
}

::view-transition-old(keyItem), ::view-transition-new(keyItem) {
    height: 100%;
    animation-duration: 0.3s;
}

@keyframes gravity {
    0% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.35, 0, 0.55, 1);
    }

    33% {
        transform: translateY(80px);
        animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    }

    100% {
        transform: translateY(0px);
    }
}